extends layout.pug

block content
    include validateForm
    center
        h1 Update This Book
        form(action=`/books/${id}`, method="post")
            p
                label(for='title') Title
                input#title(name='title', type='text', value=`${title}`)
            p
                label(for='author') Author
                input#author(name='author', type='text', value=`${author}`)
            p
                label(for='genre') Genre
                input#genre(name='genre', type='text', value=`${genre}`)
            p
                label(for='year') Year
                input#year(name='year', type='text', value=`${year}`)
            p
                input(type='submit', value='Update This Book')
        form(method='post', action=`/books/${id}/delete`, onsubmit="return confirm('Are you sure about this?');")
            p
                input.delete(type='submit', value='Delete This Book')
            p
                a.button(href='/') Cancel